<main class="container__acesso">
        <h1 class="acesso__titulo">Entrar</h1>

        <form action="#" method="get" class="l-formulario__acesso">
            <h2 class="acesso_texto">Acessar a minha conta</h2>
            <label class="acesso__label" for="nome__produto">E-mail</label>
            <input class="acesso__campo" type="email" id="email__usuario" name="email__usuario" placeholder="Digite seu e-mail">

            <label class="acesso__label" for="nome__produto">Senha</label>
            <input class="acesso__campo" type="password" id="senha__usuario" name="senha__usuario" placeholder="Digite sua senha">

            <div class="l-acesso__checkbox">
            <input class="acesso__campo__checkbox" type="checkbox" id="lembrar__acesso" name="lembrar__acesso">
            <label class="acesso__label-checkbox" for="lembrar__acesso">Lembrar</label>
            </div>

            <a class="link__acesso" href="#">Esquecei a minha senha</a>

            <input type="submit" value="ACESSAR" class="botao__formulario">
        </form>
    </main>