<main>
        <section class="section-banner">
            <img class="img-banner" src="./upload/img/banner-Principal.png" alt="Banner da Pizza Thru">
        </section>
        <div class="consulta-ordem">
          <section class="section-titulo">
            <h1 class="h1-titulo">Cadastre-se</h1>
          </section>
          <section class="section-dados">
              <form class="form-dados">
                <div class="input-group">
                  <label class="form-dados__label" for="nome">Nome*</label>
                  <input class="form-dados__input" type="text" id="nome" name="nome" required placeholder="Seu nome completo">
                </div>
    
                <div class="input-group">  
                  <label class="form-dados__label" for="cpf">CPF*</label>
                  <input class="form-dados__input" type="text" id="cpf" name="cpf" required placeholder="XXX.XXX.XXX-XX">
                </div>
    
                <div class="input-group">
                  <label class="form-dados__label" for="telefone">Telefone*</label>
                  <input class="form-dados__input" type="text" id="telefone" name="telefone" required placeholder="(XX)XXXXX-XXXX">
                </div>
            
                <div class="input-group">  
                  <label class="form-dados__label" for="email">E-mail*</label>
                  <input class="form-dados__input" type="email" id="email" name="email" required placeholder="seuemail@email.com">
                </div>
    
                <div class="input-group">
                  <label class="form-dados__label" for="logradouro">Logradouro*</label>
                  <input class="form-dados__input" type="text" id="logradouro" name="logradouro" required placeholder="Rua/Av - Nº">
                </div> 
                
                <div class="input-group">
                  <label class="form-dados__label" for="bairro">Bairro*</label>
                  <input class="form-dados__input" type="text" id="bairro" name="bairro" required placeholder="Nome do Bairro">
                </div>
                
                <div class="input-group">
                  <label class="form-dados__label" for="cidade">Cidade*</label>
                  <input class="form-dados__input" type="text" id="cidade" name="cidade" required placeholder="Nome da cidade">
                </div>   
                
                <div class="input-group">
                  <label class="form-dados__label" for="estado">Estado*</label>
                  <input class="form-dados__input" type="text" id="estado" name="estado" required placeholder="Nome do estado">
                </div>   
              </form>
    
            <div class="button-group">
              <button class="button-cadastrar">Cadastre-se</button>
            </div> 
          </section>    
        </div> 
</main> 
