<main class="cadastro">
  <header class="cadastro__titulo">
    <h1 class="cadastro-main__title"> Cadastro de Produto </h1>
  </header>
  <div class="cadastro__form">
    <form action="/" method="get">
      <div class="cadastro__box">
          <label class="cadastro__label" for="name_prod"> Nome </label>
          <input class="cadastro__input" type="text" id="name_prod" name="produto" placeholder="Nome do produto">
      </div>
      <div class="cadastro__box">
          <label class="cadastro__label" for="category_prod"> Categoria </label>
          <select class="cadastro__select"  id="category_prod"> </select>
      </div>
      <div class="cadastro__box">
          <label class="cadastro__label" for="description_prod"> Descrição </label>
          <input class="cadastro__input" type="text" id="description_prod" name="descrição" placeholder="Descrição do produto">
      </div>
     <div class="cadastro__box">
          <label class="cadastro__label" for="stock_prod"> Estoque </label>
          <input class="cadastro__input" type="text" id="stock_prod" name="estoque" placeholder="Estoque do produto">
      </div>
      <div class="cadastro__box">
          <label class="cadastro__label" for="image_prod"> Fotos </label>
          <input class="cadastro__input" type="file" id="image_prod" name="produtosIMG">
      </div>
      <div class="cadastro__box">
          <label class="cadastro__label" for="price_prod"> Preço </label>
          <input class="cadastro__input" type="number" id="price_prod" name="preço" placeholder="Insira o valor aqui">
      </div>
      <input class="cadastro--btn" type="submit" value="Cadastrar">
    </form>
  </div>
    <div class="cadastro--btn-back">
      <a href="#"> Voltar </a>
    </div>
  </div>
</main>