<body>
    <main>
    <div class="container__banner__top"></div>
    <h1 class="title__cardapio">CARDÁPIO</h1>
    <section class="container__cardapio">
        <div class="item__pizza">
            <h5 class="cardapio__nome__pizza">Pizza 1 - Calabresa</h5>
            <div class="container__info__pizza">
                <p class="item__ingredientes">Ingredientes: Molho de Tomate, Calabresa, Cebola, Queijo, Oregano e Azeitona</p>
                <div class="container__precos">
                    <p class="pizza__preco">6 Pedaços R$ 25,00</p>
                    <p class="pizza__preco">8 Pedaços R$ 28,00</p>
                    <p class="pizza__preco">12 Pedaços R$ 31,00</p>
                </div>
            </div>
        </div>
        <div class="item__pizza">
            <h5 class="cardapio__nome__pizza">Pizza 2 - Portuguesa</h5>
            <div class="container__info__pizza">
                <p class="item__ingredientes">Ingredientes: Molho de Tomate, Presunto, Cebola, Queijo, Oregano, Azeitona, Tomate e Ovo</p>
                <div class="container__precos">
                    <p class="pizza__preco">6 Pedaços R$ 25,00</p>
                    <p class="pizza__preco">8 Pedaços R$ 28,00</p>
                    <p class="pizza__preco">12 Pedaços R$ 31,00</p>
                </div>
            </div> 
        </div>
        <div class="item__pizza">
            <h5 class="cardapio__nome__pizza">Pizza 3 - Marguerita</h5>
            <div class="container__info__pizza">    
                <p class="item__ingredientes">Ingredientes: Molho de Tomate, Queijo, Manjericão, Oregano e Azeitona</p>   
                <div class="container__precos">
                    <p class="pizza__preco">6 Pedaços R$ 25,00</p>
                    <p class="pizza__preco">8 Pedaços R$ 28,00</p>
                    <p class="pizza__preco">12 Pedaços R$ 31,00</p>
                </div>
            </div>
        </div>
        <div class="item__pizza">
            <h5 class="cardapio__nome__pizza" id="pizza__4">Pizza 4 - Frango com Catupiry</h5>
            <div class="container__info__pizza">
                <p class="item__ingredientes">Ingredientes: Molho de Tomate, Frango Desfiado, Catupiry, Oregano e Azeitona</p>
                <div class="container__precos">
                    <p class="pizza__preco">6 Pedaços R$ 25,00</p>
                    <p class="pizza__preco">8 Pedaços R$ 28,00</p>
                    <p class="pizza__preco">12 Pedaços R$ 31,00</p>
                </div>
            </div>
        </div>
        <div class="item__pizza">
            <h5 class="cardapio__nome__pizza">Pizza 5 - Muçarela</h5>
            <div class="container__info__pizza">
                <p class="item__ingredientes">Ingredientes: Molho de Tomate, Queijo Muçarela, oregano e Azeitona</p>
                <div class="container__precos">
                    <p class="pizza__preco">6 Pedaços R$ 25,00</p>
                    <p class="pizza__preco">8 Pedaços R$ 28,00</p>
                    <p class="pizza__preco">12 Pedaços R$ 31,00</p>
                </div>
            </div>
        </div>
        <div class="item__pizza">
            <h5 class="cardapio__nome__pizza">Pizza 6 - Napolitana</h5>
            <div class="container__info__pizza">
                <p class="item__ingredientes">Ingredientes: Molho de Tomate, Queijo, Alho, Oregano e Azeitona</p>
                <div class="container__precos">
                    <p class="pizza__preco">6 Pedaços R$ 25,00</p>
                    <p class="pizza__preco">8 Pedaços R$ 28,00</p>
                    <p class="pizza__preco">12 Pedaços R$ 31,00</p>
                </div>
            </div>
        </div>
    </section>
</main>
</body>