<main>
  <div class="conteiner">
    <div class="section-header__banner">
      <img src="/upload/img/banner-Principal.png" alt="Banner da Pizza Thru" />
    </div>
    <nav>
      <ul>
        <li class="section-nav__lista"><a href="#"><img
              src="/upload/img/Banner-promocao-1.png"
              alt="Banner promocional"
            /></a>
        </li>
        <li class="section-nav__lista"><a href="#"><img
              src="/upload/img/Banner-promocao-3.png"
              alt="Banner promocional"
            /></a>
        </li>
        <li class="section-nav__lista"><a href="#"><img
              src="/upload/img/banner-do-seu-jeito-2.png"
              alt="Banner faça do seu jeito a Pizza"
            /></a>
        </li>
      </ul>
    </nav>
  </div>
</main>