<body>
  <div class="conteiner-main__img">
    <img src="/upload/img/banner-Principal.png" alt="Monte ja sua Pizza" />
  </div>
  <section>
    <h1 class="header-main__title">Compra no cartão</h1>
  </section>
  <main>
  <form id="form-checkout" class="main__formulario">
    <div class="conteiner__formulario">
        <label class="formulario__label">Numero do cartão</label>
        <input type="text" id="form-checkout__cardNumber">
    </div>
    <div class="conteiner__formulario">
        <label class="formulario__label">Data de expiração</label>
        <input type="text" id="form-checkout__expirationDate">
    </div>
    <div class="conteiner__formulario">
        <label class="formulario__label">Codigo de segurança</label>
        <input type="text" id="form-checkout__securityCode">
    </div>
    <div class="conteiner__formulario">
        <label class="formulario__label">Nome como escrito no cartão</label>
        <input type="text" id="form-checkout__cardholderName"/>
    </div>
    <div class="conteiner__formulario">
        <label class="formulario__label"> Bandeira do cartão </label>
        <select id="form-checkout__issuer"></select>
    </div>
    <div class="conteiner__formulario">
        <label class="formulario__label"> Parcelas </label>
        <select id="form-checkout__installments"></select>
    </div>
    <div class="conteiner__formulario">
        <label class="formulario__label"> Identificação </label>
        <select id="form-checkout__identificationType"></select>
    </div>
    <div>
        <label class="formulario__label"> CPF </label>
        <input type="text" id="form-checkout__identificationNumber" />
    </div>
    <div>
        <label class="formulario__label"> E-mail </label>
        <input type="email" id="form-checkout__cardholderEmail" />
    </div>
    

    <button class="formulario__btn" type="submit" id="form-checkout__submit">Pagar</button>
    <progress value="0" class="progress-bar">Carregando...</progress>
  </form>
  </main>
  <script defer src="/js/finalizacaoPagamentoCartao"></script>
  <script src="https://sdk.mercadopago.com/js/v2">
  const mp = new MercadoPago("TEST-628d8c33-9dfb-442e-b0d7-7adec5fd94f2");
  </script>
</body>