 class="input__select__debito"<body>
        <header class="section-header__banner">
        <div><img src="../upload/img/bannerprincipalpizzathru.png" alt="Banner da Pizza Thru"></div>
    </header>
    <section class="sec__container__debito">
        <h1 id="title__main">Finalizar a Compra</h1>
    </section>
    <main>
    <!--Início do conteúdo principal - FORMA PAGAMENTO DEBITO -->
            <section id="sec__container__dados">
                <form action="/pagamentoCartaoDebito.html" method="post" id="form__pedido">
                    <div class="container__form__pagamento">
                        <h3 id="forma__pagamento__h3">Forma de Pagamento</h3>
                        <h5 id="debito__h5">Cartão de Débito</h5>
                    </div>
                    <div class="container__form__numero__cartao">
                        <label for="numero__cartao" id="lab__numero__cartao">Número do Cartão*</label>
                        <input class="input__select__debito" type="number" name="numero__cartao" id="numero__cartao">
                    </div>
                    <div class="p__container__cartao">
                        <p class="p__form__bandeira">A bandeira do cartão será automaticamente Identificada pelo sistema</p>
                    </div>
                    <div class="container__form__nome__cartao">
                        <label for="nome__cartao" id="lab__nome__cartao">Seu nome* (como impresso no cartão)</label>
                        <input class="input__select__debito" type="text" name="nome__cartao" id="nome__cartao">
                    </div>
                    <div class="container__form__pagamento">
                        <h5 id="debito__h5">Vencimento</h5>
                    </div>
                    <div class="container__dados__cartao">
                        <div class="mes__cartao">
                            <label for="mes__cartao" id="lab__mes__cartao">Mês</label>
                            <input class="input__select__debito" type="number" name="mes__cartao" id="mes__cartao">
                        </div>
                        <div class="ano__cartao">
                            <label for="nome__cartao" id="lab__ano__cartao">Ano</label>
                            <input class="input__select__debito" type="number" name="ano__cartao" id="ano__cartao">
                        </div>
                    </div>
                    <div class="container__codigo__seguranca">
                        <label for="cvv__cartao" id="lab__cvv__cartao">Código de Segurança</label>
                        <input class="input__select__debito" type="number" name="cvv__cartao" id="cvv__cartao">
                    </div>
                    <div class="container__salvar__cartao">
                        <label for="salvar__cartao" id="lab__salvar__cartao">Salvar cartão para a próxima compra</label>
                        <input class="input__select__debito" type="checkbox" name="salvar__cartao" id="salvar__cartao">
                    </div>
                    <div class="p__container__cartao">
                        <p class="p__form__bandeira">Para efetuar o pagamento, não há necessidade de salvar seu cartão. Esta função apenas facilita suas próximas compras com toda a segurança</p>
                    </div>
                </form>
            </section>
    </main>
    <div class="container__form" id="form__btn__finalizar">
        <label for="finalizar__btn" class="form__label__btn"></label>
        <input type="submit" class="form__btn" name="name" value="Finalizar a Compra" id="finalizar__btn" form="form__pedido">
    </div>
</body>