<main>
  <div class="conteiner-main__img">
    <img
      src="/upload/img/Banner-monte-sua-pizza.png"
      alt="Monte ja sua Pizza"
    />
  </div>
  <header class="header__main">
    <h1 class="header-main__title">Realize o seu Pedido</h1>
  </header>
  <div class="formulario">
    <form action="/" class="main__formulario" method="get">
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="select__pedacos"
          id="label__pedacos"
        >Quantidade de Pedaços</label><br />
        <select
          name="main-section-select__pedacos"
          id="select__pedacos"
          required
        >
          <option disabled selected value="">Selecione</option>
          <option value="6">6</option>
          <option value="8">8</option>
          <option value="10">10</option>
        </select>
      </div>
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="select__sabores"
          id="label__sabores"
        >Quantidade de Sabores</label><br />
        <select
          name="main-section-select__sabores"
          id="select__sabores"
          required
        >
          <option disabled selected value="">Selecione</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="select__sabor1"
          id="label__sabor1"
        >Sabor 1</label><br />
        <select name="main-section-select__sabor1" id="select__sabor1" required>
          <option disabled selected value="">Selecione</option>
          <option value="Ca">Calabresa</option>
          <option value="Po">Portuguesa</option>
          <option value="Ma">Marguerita</option>
          <option value="FrC">Frango com Catupiry</option>
          <option value="Mu">Mussarela</option>
          <option value="Na">Napolitana</option>
        </select>
      </div>
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="select__sabor2"
          id="label__sabor2"
        >Sabor 2</label><br />
        <select name="main-section-select__sabor2" id="select__sabor2" required>
          <option disabled selected value="">Selecione</option>
          <option value="Na">Sem Opção</option>
          <option value="Ca">Calabresa</option>
          <option value="Po">Portuguesa</option>
          <option value="Ma">Marguerita</option>
          <option value="FrC">Frango com Catupiry</option>
          <option value="Mu">Mussarela</option>
          <option value="Na">Napolitana</option>
        </select>
      </div>
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="select__Espessura-da-Massa"
          id="label__Espessura-da-Massa"
        >Espessura da Massa</label><br />
        <select
          name="main-section-select__Espessura-da-Massa"
          id="select__Espessura-da-Massa"
          required
        >
          <option disabled selected value="">Selecione</option>
          <option value="MF">Massa Fina</option>
          <option value="MM">Massa Media</option>
          <option value="MG">Massa Grossa</option>
        </select>
      </div>
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="select__Recheio-da-Borda"
          id="label__Recheio-da-Borda"
        >Recheio da Borda</label><br />
        <select
          name="main-section-select__Recheio-da-Borda"
          id="select__Recheio-da-Borda"
          required
        >
          <option disabled selected value="">Selecione</option>
          <option value="SR">Sem Recheio</option>
          <option value="Cat">Catupiry</option>
          <option value="Che">Cheddar</option>
        </select>
      </div>
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="select__Quantidade-de-Adicionais"
          id="label__Quantidade-de-Adicionais"
        >Quantidade de Adicionais</label><br />
        <select
          name="main-section-select__Quantidade-de-Adicionais"
          id="select__Quantidade-de-Adicionais"
          required
        >
          <option disabled selected value="">Selecione</option>
          <option value="0">Sem Adicional</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="select__Adicional-1"
          id="label__Adicional-1"
        >Adicional 1</label><br />
        <select
          name="main-section-select__Adicional-1"
          id="select__Adicional-1"
        >
          <option disabled selected value="">Selecione</option>
          <option value="Ce">Cebola</option>
          <option value="QE">Queijo Extra</option>
          <option value="Ma">Azeitona</option>
          <option value="Cat">Catupiry</option>
          <option value="Ba">Bacon</option>
          <option value="Che">Cheddar</option>
        </select>
      </div>
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="select__Adicional-2"
          id="label__Adicional-2"
        >Adicional 2</label><br />
        <select
          name="main-section-select__Adicional-2"
          id="select__Adicional-2"
        >
          <option disabled selected value="">Selecione</option>
          <option value="Ce">Cebola</option>
          <option value="QE">Queijo Extra</option>
          <option value="Ma">Azeitona</option>
          <option value="Cat">Catupiry</option>
          <option value="Ba">Bacon</option>
          <option value="Che">Cheddar</option>
        </select>
      </div>
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="Observacao"
          id="label__Observacao"
        >Observação</label><br />
        <textarea
          name="main-section-label__Observacao"
          id="Observacao"
          cols="25"
          rows="3"
        ></textarea>
      </div>
      <div class="conteiner__formulario">
        <label
          class="formulario__label"
          for="Subtotal"
          id="label__Subtotal"
        >Subtotal</label><br />
        <input class="Subtotal" type="text" id="Subtotal" name="Subtotal" />
      </div>
      <input type="submit" class="formulario__btn" value="Finalizar o Pedido" />
    </form>
  </div>
</main>