<main>
  <section class="section-banner">
    <img class="img-banner" src="/upload/img/banner-Principal.png" alt="Banner da Pizza Thru">
  </section>
  <div class="redefinicao-senha">
    <section class="section-titulo">
      <h1 class="h1-titulo">Redefinir senha</h1>
    </section>
    <section class="section-email">
      <div class="email-group">
        <label class="label-email" for="email">Endereço de e-mail</label>
        <input  class="input-email" type="email" id="email" name="email" required placeholder="seuemail@email.com "> 
      </div>  
      <div class="button-group">
        <button class="button-redefinicao__senha">Enviar o link de redefinição de senha</button>
      </div> 
    </section>    
  </div>  
</main> 
