<main>
  <section class="section-banner">
    <img class="img-banner" src="/upload/img/banner-Principal.png" alt="Banner da Pizza Thru">
  </section>
  <div class="status-pedido">
    <section class="section-titulo">
      <h1 class="h1-titulo">Status do pedido</h1>
    </section>
    <section class="section-filtro">
      <div class="filtro-group">
        <label class="label-filtro" for="filtro">Filtro</label>
        <input  class="input-filtro" type="search" id="filtro" name="filtro"> 
      </div>  
    </section>  
    <section class="section-dados">
      <form class="form-dados">
        <div class="input-group">
          <label class="form-dados__label">Nº do Pedido</label>
          <input class="form-dados__input" type="text" id="numeroPedido" name="numeroPedido">
        </div>
          
        <div class="input-group">  
          <label class="form-dados__label">Cliente</label>
          <input class="form-dados__input" type="text" id="cliente" name="cliente">
        </div>

        <div class="input-group">
          <label class="form-dados__label">Pedaços</label>
          <input class="form-dados__input" type="text" id="pedacos" name="pedacos">
        </div>   
    
        <div class="input-group">
          <label class="form-dados__label">Sabores, Adicionais e Observações</label>
          <input class="form-dados__input" type="text" id="saboresAddObs" name="saboresAddObs">
        </div>
          
        <div class="input-group">  
          <label class="form-dados__label">Forma de Pagamento</label>
          <input class="form-dados__input" type="text" id="formaDePagamento" name="formaDePagamento">
        </div>
              
        <div class="input-group">
          <label class="form-dados__label">Status do Pagamento</label>
          <input class="form-dados__input" type="text" id="statusDoPagamento" name="statusDoPagamento">
        </div> 
    
        <div class="input-group">  
          <label class="form-dados__label">Hora da Entrega</label>
          <input class="form-dados__input" type="text" id="horaDaEntrega" name="horaDaEntrega">
        </div>
              
        <div class="input-group">
          <label class="form-dados__label">Total</label>
          <input class="form-dados__input" type="text" id="total" name="total">
        </div> 
      </form>
    
      <div class="button-group">
        <button class="button-buscar">Buscar</button>
      </div> 
    </section>    
  </div>  
</main> 

